COMPOSE_PROJECT_NAME=commerce-lead-engine

NGINX_HTTP_PORT=8080
PHP_MEMORY_LIMIT=512M

MYSQL_FORWARD_PORT=33060
MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=commerce_leads
MYSQL_USER=app
MYSQL_PASSWORD=app

REDIS_FORWARD_PORT=63790
